#rock{ width: 100px;}
#paper{width: 100px;}
#scissors{width: 100px;}
#opponent{width: 240px;
height: 240px;
margin-left: auto;
margin-right: auto;}
#me{width: 240px;
height: 240px;
margin-left: auto;
margin-right: auto;}
#boxes{display: flex; flex-direction: column;gap: 10px;}
body{text-align: center;}